@import "src/style/index";

.overview{
  padding-top: 65px;
  display: flex;
  justify-content: space-between;
}

//for status
.status{
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis:  280px;
  & > img{
    width: 144px;
    height: 144px;

  }
  &_title{
    @include proximaBold;
    font-size: $font-size-h3;
    color: $color-header-room;
    margin: 10px auto;
  }
  &_text{
    color: $color-text-default;
    line-height: 1.41;
    font-size: $font-size-text;

  }

}

// !for status

//params
.params{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;

  &_item{
    width: 280px;
    height: 120px;
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 9px rgba( 0,0,0,0.15);
    border-radius: 6px;

  }
  &_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_title{
    color: $color-text-light;
    font-size: $font-size-h4;
  }
  &_value{
    font-size: $font-size-h1;
    //@include proximaBold;
     & span{

       font-size: $font-size-h4;
       color: $color-border-dark;

     }
  }
  &_alert{
    color :$color-danger
  }
  &_img{
    display: flex;
    align-items: center;
  }
}
//!params