@import "src/style/index";

.overview{
  padding: 65px 0 0 0;
  display: flex;
  justify-content: center;
}

//for status
.status{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 280px;
  & > img{
    width: 144px;
    height: 144px;

  }
  &_title{
    @include proximaBold;
    font-size: $font-size-h3;
    color: $color-header-room;
    margin: 10px auto;
  }
  &_text{
    color: $color-text-default;
    line-height: 1.41;
    font-size: $font-size-text;
    width: 280px;

  }

}

// !for status

//params
.params{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 20px;

  &_item{
    width: 280px;
    height: 120px;
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 9px rgba( 0,0,0,0.15);
    border-radius: 6px;
    flex-shrink: 0;

  }
  &_details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &_title{
    color: $color-text-light;
    font-size: $font-size-h4;
  }
  &_value{
    font-size: $font-size-h1;
    //@include proximaBold;
     & span{

       font-size: $font-size-h4;
       color: $color-border-dark;

     }
  }
  &_alert{
    & img {
      margin-right: 10px;
    }
    &.excellent{
      color:$color-success
    }
    &.alert{
      color:$color-warn;
    }
    &.danger{
      color: $color-danger
    }
  }
  &_img{
    display: flex;
    align-items: center;
  }
}

//!params



@media (max-width: $ld){
  .overview{
    flex-direction: column;
    align-items: center;
  }

  .params{

    justify-content: space-around;
    margin: 30px 0  0 0 ;
    &_item{
      margin: 10px 5px;
      width: 300px;

    }
  }
}

@media (max-width:1160px) {
  .params {

    justify-content: space-around;
  }
}

@media (max-width: $md) {
  .params{
    &_item + &_item{
      margin-top: 20px;
    }
  }

}