@import "src/style/index";
.analysis{
  //padding-top: 50px;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
  //display: flex;
}
.highcharts-navigator-mask-outside{
 //stroke: $color-primary;
}
.highcharts-navigator-mask-inside{

}

.label__black{
  fill: #000000;
}
.label__grey{
  fill: #7e7e7e
}