@import 'src/style/index';
.information{
  position: absolute;
  height: 100%;
  width: 100%;
  &:before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background-color: #fff;
    opacity: 0.6;
    z-index: 99;

  }

  &_wrap{
    max-width: 580px;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);
    padding: 30px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: calc(50% - (580px/2));
    top: 110px;
    background-color: #fff;
    z-index: 100;
  }
  &_img{

  }
  &_title{
    @include proximaSemibold;
    font-size: 18px;
    margin: 15px 0 15px 0;
  }
  &_text{
    font-size: $font-size-small-text;

  }

  & &_text +&_text {
    margin-top: 10px;

  }
  &_status{
    display: flex;
    justify-content: center;
    margin : 25px 0 40px 0;

    & &_icon + &_icon{
      margin-left: 8px;
    }
    &_value{
      width: 80px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      font-size: $font-size-small-text;
      border: solid 1px #b3b3b3;
      margin-top: 20px;
      &:before{
        content: '';
        display: inline-block;
        position: absolute;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 14px solid #b3b3b3;
        bottom: -15px;
        right: calc(50% - (12px));

      }
    }
    &_icon{
      width: 60px;
      padding-top: 9px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &:before{
        content: '';
        display: inline-block;
        height: 4px;
        width: 4px;
        background-color: #c4c4c4;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        left: -5px;
      }
      &:first-child{
        &:before{
          display: none;
        }
      }

      &.smile_1{
        border-top: solid 2px $color-success;
      }
      &.smile_2{
        border-top: solid 2px $color-success-light;
      }
      &.smile_3{
        border-top: solid 2px $color-warn;
      }
      &.smile_4{
        border-top: solid 2px $color-danger-light;
      }
      &.smile_5{
        border-top: solid 2px $color-danger;
      }
    }
  }
  &_button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px $color-border-dark;
    height: 45px;
    width: 300px;
    cursor: pointer;
    @include proximaSemibold;
    font-size: $font-size-text;
    letter-spacing: 1.8px;
    &:hover{
      background-color: $color-border-dark;
    }
  }
}
@media (max-width: $md){
  .information{
    &_wrap{
      max-width: 100%;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      justify-content: space-between;
    }
  }
}