@import 'src/style/index.scss';

body{
  @include proximaRegular;
}
.main_container{
  padding-top: 74px;
}
.container{
  width: 1180px;
  margin: 0 auto;
  padding: 0 5px;
}
*{
  box-sizing: border-box;
}


//footer
.footer{
  width: 100%;
  background-color: $footer-bg-color;
  font-size: $font-size-text;
  position: fixed;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
}
//!footer