@import 'src/style/index.scss';

html,body{
  height: 100%;
  padding: 0;
  margin: 0;
  @include proximaRegular;
}
.main_container{
  padding-top: 74px;
  flex: 1 0 auto;
}
.container{
 max-width: 1180px;
  margin: 0 auto;
  padding: 40px 10px 0 10px;
  flex: 0 0 auto;
}
*{
  box-sizing: border-box;
}
.root{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


