.arrow{
  position: absolute;
  height: 75%;
  z-index: 2;
  &_right{
    top: 0;
    right: 10px;
  }
  &_left{
    top: 0;
    left: 60px;

  }
}
.arrow_item{
  height:100%;
  width: 1px;
  background-color: #d8d8d8;
  z-index: 0;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d8d8d8;
    border-bottom: none;
    border-right: none;
    position: absolute;
    top: 2px;
    left: -9px;
    transform: rotate(45deg);
  }
}
