@import 'src/style/index';

.container{
  width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}
.headerWrap{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  box-shadow: 0 2px 10px -2px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  z-index: 10;
  &:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $color-background;
    z-index: 3;
  }

  &_logo{
    display: flex;
    align-items: flex-end;
    z-index: 3;
  }
  &_name{
    @include proximaBlack;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-left: 15px;
    text-transform: uppercase;
  }
  &_menu{
    position: relative;
    z-index: 3;
  }
  & &_link + &_link {
    margin-left: 45px;
  }

  &_link{
    @include proximaBold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    &.active{
      color:$color-primary;
    }
  }
  &_menu_button{
    display: none;
    color: black;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

  }
}
@media (max-width: 768px) {
  .header{

    &_menu_button{
      display: block;
      cursor: pointer;
      position: relative;
      z-index: 3;

    }
    &_menu{
      position: fixed;
      top:-150%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      z-index: 2;
      padding-top: 100px;

      &.active{
        transition: 0.5s;
        top: 0;
      }
    }

    &_nav{
      display: none;
    }
    &_link{
      display: block;
      padding: 30px 0 0 10px;
    }

    &  &_link + &_link{
      margin-left: 0;
      margin-top: 52px;
    }
  }
}
@media (max-width: 425px) {
  .header{
    &_img{
      display: none
    }
    &_name{
      margin-left: 0;
    }
  }
}