@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Black';
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot');
  src: url('../fonts/ProximaNova-Black/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
  url('../fonts/ProximaNova-Black/ProximaNova-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Medium';
  src: url('../fonts/ProximaNova-Medium/ProximaNova-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



