@mixin proximaRegular{
  font-family: 'Proxima Nova Regular';
}
@mixin proximaBold{
  font-family: 'Proxima Nova Bold';
}
@mixin proximaBlack{
  font-family: 'Proxima Nova Black';
}
@mixin proximaSemibold{
  font-family: 'Proxima Nova Semibold';
}
@mixin proximaMedium{
  font-family: "Proxima Nova Medium";
}