$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xlg-min: 1200px;

//
$ld: 914px;
$md: 648px;
@mixin xs() {
    @media (max-width: $sm-min - 1px) {
        @content
    }
}

@mixin sm() {
    @media (min-width: $sm-min) and (max-width: $md-min - 1px) {
        @content
    }
}

@mixin md() {
    @media (min-width: $md-min) and (max-width: $lg-min - 1px) {
        @content
    }
}

@mixin lg() {
    @media (min-width: $lg-min) and (max-width: $xlg-min - 1px) {
        @content
    }
}

@mixin xlg() {
    @media (min-width: $xlg-min) {
        @content
    }
}