@import "src/style/index";
.drop-list{
  width:  200px;
  @include proximaBold;
  margin: 0 0 5px 50px ;
}

.react-select__menu-list{
  position: relative;
  z-index: 5;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
//.react-select__option{
//  background-color: #fff;
//  &:hover{
//    //background-color: #fff;
//    cursor: pointer;
//  }
//  &:active{
//    background-color: red;
//  }
//}
.react-select__menu{
  position: relative;
    z-index: 5 !important;
}
